.pane-body {
    padding: 1rem;
}

a {
    text-decoration: none;
}

.buttonSave {
    color: #fff;
    background-color: #34A360;
    font-weight: 600;
    padding: 8px 16px;
}

.buttonSave:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

.buttonBack {
    color: #7c7c7c;
    background-color: #eaeaea;
    border-color: #dddddd;
    font-weight: 600;
    padding: 8px 16px;
}


.buttonBack:hover {
    color: #212529;
    background-color: #e2e6ea;
    border-color: #dae0e5;
}