<div class="pane_content">
    <div>
        <table id="produtos_table" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>Preço Custo</th>
                <th>Preço Venda</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>Preço Custo</th>
                <th>Preço Venda</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="produtos_modal_novo" class="modal">
        <div class="form-group">
            <label>Nome</label>
            <input id="produtos_modal_novo_nome" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Preço Custo</label>
            <input id="produtos_modal_novo_preco_custo" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Preço Venda</label>
            <input id="produtos_modal_novo_preco_venda" type="text" class="form-control">
        </div>

        <a href="#" rel="modal:close">
            <button class="btn btn-form buttonBack">Voltar</button>
        </a>
        <a href="#" style="float: right" rel="modal:close">
            <button class="btn btn-form buttonSave" id="produtos_modal_novo_salvar">Salvar</button>
        </a>
    </div>
</div>