<div class="pane_content">
    <div>
        <table id="clientes_table" class="display" style="width:100%">
            <thead>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Cod</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Telefone</th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="cliente_modal_novo" class="modal">
        <div class="form-group">
            <label>Nome</label>
            <input id="cliente_modal_novo_nome" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>CPF</label>
            <input id="cliente_modal_novo_cpf" type="text" class="form-control">
        </div>
        <div class="form-group">
            <label>Telefone</label>
            <input id="cliente_modal_novo_telefone" type="text" class="form-control">
        </div>

        <a href="#" rel="modal:close">
            <button class="btn btn-form buttonBack">Voltar</button>
        </a>
        <a href="#" style="float: right" rel="modal:close">
            <button class="btn btn-form buttonSave" id="cliente_modal_novo_salvar">Salvar</button>
        </a>
    </div>
</div>